{deps,
 [{parse_trans, "3.0.0"}]}.

{profiles,
 [{test,
   [{deps,
     [%% TODO: {elli, "2.0.1"},
      {elli, {git, "git://github.com/elli-lib/elli.git", {branch, "develop"}}},
      {meck, "0.8.4"}]}]},
  {docs,
   [{deps, [{edown, "0.8.1"}]},
    {edoc_opts,
     [
      {doclet, edown_doclet},
      {doc_path, ["http://raw.github.com/elli-lib/elli/master/doc"]},
      {top_level_readme,
       {"./README.md", "https://github.com/elli-lib/elli_fileserve", "master"}}
     ]}]}]}.

{post_hooks,
 [{"darwin", edoc,
   %% brew install gnu-sed
   "gsed -i 's/raw.\\(github.com\\/elli-lib\\/elli\\)/\\1\\/blob/g' doc/*.md"},
  {"(linux|solaris|freebsd|netbsd|openbsd)", edoc,
   "sed -i 's/raw.\\(github.com\\/elli-lib\\/elli\\)/\\1\\/blob/g' doc/*.md"}
 ]}.
