{deps,
 [{parse_trans,
   {git, "git://github.com/uwiger/parse_trans.git",
    {branch, "master"}}}]}.

{profiles, [{test, [{deps, [{elli,
                             {git, "git://github.com/elli-lib/elli.git",
                              {branch, "master"}}},
                            {meck,
                             {git, "git://github.com/eproxus/meck.git",
                              {branch, "master"}}}]}]}]}.
